:root {
  --primary: #343c6a;
  --black: #232323;
  --white: #ffffff;
  --white-shade: #f5f7fa;
  --text-blue: #8ba3cb;
  --text-blue-shade: #718ebf;
  --grey: #dddddd;
  --grey-shade: #b1b1b1;
  --blue: #1814f3;
  --blue-shade: #e6eff5;
  --blue-shade1: #333b69;
  --red: #fe5c73;
}

/* fonts */
$font: "Inter", sans-serif;

/* font-weights */

$font-regular: 400;
$font-medium: 500;
$font-semibold: 600;
$font-bold: 700;

/* breakpoints */
$xss: 380px;
$xs: 768px;
$sm: 980px;
$md: 1024px;
$lg: 1280px;
$xxl: 1366px;
$xxxl: 1400px;
$xxxxl: 1920px;
