.bs-table {
  background-color: var(--white);
  border-radius: 2.5rem;
  padding: 4rem;

  .table-wrap {
    width: 100%;
    thead {
      border-bottom: 1px solid #e6eff5;
    }
    .tbl-head {
      text-align: left;
      font-size: 1.6rem;
      font-weight: $font-medium;
      line-height: 19px;
      color: var(--text-blue-shade);
      padding-bottom: 0.8rem;
    }
    .tbl-td {
      font-size: 1.6rem;
      font-weight: $font-regular;
      color: var(--black);
      line-height: 19px;
      border-bottom: 1px solid #f2f4f7;
      padding: 1.6rem 0;
    }

    .tbl-footer {
      .tbl-td {
        color: var(--red);
        border-bottom: 0;
      }
    }
  }
}
