html {
  font-size: 10px;
  scroll-behavior: smooth;

  @include mq-below($xs) {
    font-size: 9px;
  }
}

body {
  font-size: 1.4rem;
  font-family: $font;
  font-weight: $font-regular;
  line-height: initial;
  font-display: "swap";
  color: var(--black);
  position: relative;
  background-color: var(--white-shade);
}

.sec {
  margin-top: 3rem;
  .sec-title {
    font-size: 2.2rem;
    line-height: 26px;
    font-weight: $font-semibold;
    color: var(--primary);
    margin-bottom: 2rem;
  }
}
